<%- include("./partials/header") %>

<h3><%= campground.title %></h3>   
<img src="<%= campground.img %>" style="height: 300px;width: 400px;">
<p><%= campground.description %></p>

<%- include("./partials/footer") %>